

.nav-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: green;
  color: #fff;
}
.nav-links{
  display: flex;
  justify-content: center;
  gap: 7px;
  list-style: none;
}
.contact-list{
  /* border: 1px solid black; */
  padding: 5px 10px;
  margin-bottom: 5px;
  position: relative;
  background-color: lightgray;
}
.type{
  position: absolute;
  top:4px;
  right:4px;
  border-radius: 5px;
  padding:2px 6px;
  color: #fff;
  background-color: green;
}
.contact-box{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.edit{
  margin-right: 4px;
}
form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 100px auto;
}

input, select, .submit-btn{
  margin-bottom: 6px;
  padding: 4px;
  border: 1px solid gray
}
.submit-btn{
  background-color: green;
  color: #fff ;
}
.edit{
  background-color: black;
  color: #fff;
  border: none;
}
.delete{
  background-color: red;
  color: #fff;
  border: none;
}
.search{
  width: 100%;
}